<!DOCTYPE html>
<html>
<head>
  <title>Ttwrj</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="wrapper">
<%= yield %>
</div>
<div class="push"></div>
</body>
</html>
